/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}
/************* Default Css ************/
* {
  margin: 0 ;
  padding: 0 ;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 100px 0 150px 0 ;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
  width: 100%;
}
@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/*************** Card ****************/
.card-container .card{

  width: 100%;
  margin-top: 5%;
  background-color: #032a41;
  padding: 15px;
}
.card-container img{
  animation:none;
  height: auto;
  width: 1%;
  position: relative;
  justify-content: center;

}


.side-dedc h1{
  margin-top: 10% !important;
  font-size: xx-large;
}

/************ Projects Css ************/
.project{
 margin-top: 10%;
  padding: 80px 0 !important;
  position: relative !important ;
  background-color: rgba(0, 0, 0, 0.9)!important;
  padding: 10px !important;
  border-radius: 5%;
}
.project h2 {
  margin-top: 5%;
  margin-bottom: 5%;
	font-size: 45px !important;
	font-weight: 700 !important;
  text-align: center !important;
}
.project p {
  color: #B8B8B8 !important;
  font-size: 18px !important;
  letter-spacing: 0.8px !important;
  line-height: 1.5em !important;
  margin: 14px auto 30px auto !important;
  text-align: center !important;
  width: 56% !important;
}
.proj-imgbx {
  position: relative !important;
  border-radius: 30px !important;
  overflow: hidden !important;
  margin-bottom: 30px !important;
  height: 90% !important;
  height: 120% !important; 
  width: 100% !important;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9) ;
  color: black;
}
.proj-imgbx img {
  animation: none;
  border-radius: 50%;
  height: auto!important; 
  width: 30% !important;
  

}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #2b35c9 -5.91%, #41a0c5 111.58%) !important;
  left: 0%  !important;
  opacity: 0.85;
  position: absolute ;
  width: 100%  !important;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%  !important ;
  width: 100%  !important;
}
.proj-txtx {
  position: absolute  !important;
  text-align: center  !important;
  top: 65%  !important;
  left: 50%  !important;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  color: #fff;
}
#span-color{
  color: #2f2e30 !important;
  text-decoration: none;
}
#project-desc-icon{
  width: 6.5% !important;
  height: 6.5% !important;
}
.proj-imgbx:hover .proj-txtx {
  top: 50% !important;
  opacity: 1 !important;
}
.proj-txtx h4 {
  font-size: 30px !important;
  font-weight: 700 !important;
  letter-spacing: 0.8px !important;
  line-height: 1.1em !important;
}
.proj-txtx span {
  font-style: italic !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  letter-spacing: 0.8px !important;
}
.background-image-right {
  top: 20% !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 35% !important;
  right: 0 !important;
  z-index: -4 !important;
}
.footer {
  padding: 0 0 50px 0;
  background-color:rgba(0, 0, 0, 0.9);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}




